@import "https://fonts.googleapis.com/css?family=Lora:400,400i,700";
@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";

/* variables */

:root {
  --Poppins: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: darkgray;
}

/* Nav */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Lora, sans-serif;
  background: url(https://www.pngkey.com/png/full/261-2618421_to-support-parents-in-this-responsibility-our-catholic.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
p {
  margin: 0;
}
#burger-toggle {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 0;
}
#burger-toggle:checked ~ .menu {
  opacity: 1;
  visibility: visible;
}
#burger-toggle:checked ~ .menu .menu-nav-link span div,
#burger-toggle:checked ~ .menu img,
#burger-toggle:checked ~ .menu .title p {
  transform: translateY(0);
  transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
}
#burger-toggle:checked ~ .menu .image-link:nth-child(1) img {
  transition-delay: 0.18s;
}
#burger-toggle:checked ~ .menu .image-link:nth-child(2) img {
  transition-delay: 0.26s;
}
#burger-toggle:checked ~ .menu .image-link:nth-child(3) img {
  transition-delay: 0.34s;
}
#burger-toggle:checked ~ .menu .image-link:nth-child(4) img {
  transition-delay: 0.42s;
}
#burger-toggle:checked ~ .burger-menu .line::after {
  transform: translateX(0);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(1) {
  transform: translateY(calc(var(--burger-menu-radius) / 5)) rotate(45deg);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(2) {
  transform: scaleX(0);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(3) {
  transform: translateY(calc(var(--burger-menu-radius) / -5)) rotate(-45deg);
}
.burger-menu {
  --burger-menu-radius: 4em;
  position: fixed;
  top: 5vh;
  left: 5vw;
  z-index: 100;
  display: block;
  width: var(--burger-menu-radius);
  height: var(--burger-menu-radius);
  outline: none;
  cursor: pointer;
}
.burger-menu .line {
  position: absolute;
  left: 25%;
  width: 50%;
  height: 3px;
  background: rgba(43, 61, 79, 0.3);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}
.burger-menu .line:nth-child(1) {
  top: 30%;
}
.burger-menu .line:nth-child(2) {
  top: 50%;
}
.burger-menu .line:nth-child(3) {
  top: 70%;
}
.burger-menu .line::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color-darker);
  transform: translateX(-100%);
  transition: 0.25s;
}
.burger-menu .line:nth-child(2)::after {
  transition-delay: 0.1s;
}
.burger-menu .line:nth-child(3)::after {
  transition-delay: 0.2s;
}
.burger-menu:hover .line::after {
  transform: translateX(0);
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a1e23;
  opacity: 0;
  overflow-x: hidden;
  visibility: hidden;
  transition: 0.3s;
  z-index: 100;
}
@media screen and (max-width: 750px) {
  .menu {
    display: block;
  }
}
.menu-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}
@media screen and (max-width: 750px) {
  .menu-nav {
    flex-direction: column;
  }
}
.menu-nav-item {
  flex: 1;
}
.menu-nav-link {
  position: relative;
  display: inline-flex;
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
}
.menu-nav-link span {
  overflow: hidden;
}
.menu-nav-link span div {
  transform: translateY(102%);
}
.menu-nav-link::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--primary-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.menu-nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.menu .gallery {
  margin-top: 60px;
  text-align: center;
}
.menu .title {
  font-size: 24px;
  color: #fff;
  overflow: hidden;
}
.menu .title p {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transform: translateY(102%);
}
.menu .images {
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 750px) {
  .menu .images {
    justify-content: center;
  }
}
.menu .images .image-link {
  width: 15vw;
  margin: 0 12px;
  overflow: hidden;
}
@media screen and (max-width: 750px) {
  .menu .images .image-link {
    width: 40vw;
    margin: 0 12px 12px 0;
  }
}
.menu .images .image-link .image {
  position: relative;
  transition: 0.6s;
  object-fit: cover;
}
.menu .images .image-link .image::before {
  object-fit: cover;
  position: absolute;
  content: attr(data-label);
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.4s;
}
.menu .images .image-link:hover .image {
  transform: scale(1.2);
}
.menu .images .image-link:hover .image::before {
  opacity: 1;
}
.menu .images img {
  height: 250px;
  transform: translateY(102%);
}
.image {
  object-fit: cover !important;
}

/* Our changes */

/* Global */
.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #111;
}

.heading h2 {
  font-weight: 600;
  font-size: 30px;
}

section {
  padding: 100px;
}
/* Resetting everything */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Poppins);
  scroll-behavior: smooth;
  user-select: none;
}

.sect {
  min-height: 100vh;
}

/* Nav Menu some changes */

/* Kinda global */
.content {
  display: flex;
  justify-content: space-between;
}

.contentBx {
  padding-right: 30px;
}

.contentBx h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.w50 {
  min-width: 50%;
}

.sect img {
  max-width: 100%;
}

/* About children rights */
#about {
  background-image: linear-gradient(#fff70e, #04e8aa);
  /* background-image: #b0b04c; */
  transition: transform 0.4s 0.3s;
  will-change: transform;
  transform: translateX(-100%);
}
/* Health */
/* #health {
} */

.left .contentBx {
  padding-left: 30px;
}

/* Education */
#edu {
  background-color: #8da8c0;
}

/* Family */
#family {
  background-color: #b0b04c;
}
/* Responsive */

@media (max-width: 1125px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .testimonialBx {
    max-width: calc(100% - 40px);
    padding: 40px 20px;
    margin: 10px;
  }
  .w50 {
    margin-bottom: 20px;
  }
  .contentBx {
    text-align: justify;
  }
}
@media (max-width: 991px) {
  section {
    padding: 100px 50px;
  }

  .btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }

  .heading h2 {
    font-size: 24px;
  }

  .contentBx h3 {
    font-size: 20px;
  }

  .content {
    flex-direction: column;
  }

  .w50 {
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  section {
    padding: 100px 20px;
  }
}

@media (max-width: 750px) {
  .banner h2 {
    font-size: 2.5em;
  }
  .banner h3 {
    font-size: 2em;
  }
}
