/* Maddeler */

.services {
  background: #111;
}

.heading.white {
  color: #fff;
}

.services .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.servicesBx {
  padding: 30px 20px;
  background: #222;
  color: #fff;
  max-width: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
}

.servicesBx:hover {
  background: #2196f3;
}

.servicesBx img {
  max-width: 80px;
  filter: invert(1);
}

.servicesBx h2 {
  font-size: 22px;
  font-weight: 600;
}

.servicesBx span {
  opacity: 0;
}

/* Responsive */
@media (max-width: 991px) {
  .servicesBx {
    margin: 10px;
  }
}

/* Huquq */
/* About children rights */
#about {
  background-image: linear-gradient(#fff70e, #04e8aa);
  /* background-image: #b0b04c; */
  transition: transform 0.4s 0.3s;
  will-change: transform;
  transform: translateX(-100%);
}
/* Health */
/* #health {
} */

.left .contentBx {
  padding-left: 30px;
}

/* Education */
#edu {
  background-color: #8da8c0;
}

/* Family */
#family {
  background-color: #b0b04c;
}
/* Responsive */

@media (max-width: 1125px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .w50 {
    margin-bottom: 20px;
  }
  .contentBx {
    text-align: justify;
  }
}
@media (max-width: 991px) {
  section {
    padding: 100px 50px;
  }

  .btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }

  .heading h2 {
    font-size: 24px;
  }

  .contentBx h3 {
    font-size: 20px;
  }

  .content {
    flex-direction: column;
  }

  .w50 {
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  section {
    padding: 100px 20px;
  }
}
